<!DOCTYPE html>
<html>
  <head>
    <title>electron-redux</title>
    <meta
      http-equiv="Content-Security-Policy"
      content="default-src 'self'; style-src 'self' 'unsafe-inline' https://fonts.googleapis.com/; font-src https://fonts.gstatic.com/; script-src 'self' 'unsafe-eval';"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap" />
    <link rel="stylesheet" type="text/css" href="<%= stylesheetHref %>" />
  </head>
  <body>
    <div id="app"></div>
    <script type="application/javascript" defer src="<%= rendererSrc %>"></script>
  </body>
</html>
